{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Bienvenue {{nom}}</p>
  {% for pers in tab %}
      <p>{{pers}}</p>
  {% endfor %}
  <form method="post" action="/test">
    p1=<input type="text" name="p1">
    <input type="submit" value="post">
  </form>
  <a href="/">home</a>
{% endblock %}
